input{
    margin-top: 10px;
    height: 17%;
    width:210px;
    color:white;
    background-color: rgb(81, 88, 88);
    border-radius: 6px;
    
    
}
.clear{
    height: 17%;
    width: 65px;
    color: white;
    border-radius: 6px;
}
.r1{
    margin-top: 10px;
    height: 15%;
    width: 65px;
    background-color: rgb(81, 88, 88);
    color: white;
    border-radius: 6px;
}
.r2{
    margin-top: 10px;
    height: 15%;
    width: 275px;
    background-color: rgb(81, 88, 88);
    color: white;
    border-radius: 6px;
}
